**/node_modules
**/bin
**/obj
**/.git
**/.vs
**/.vscode
**/dist
**/*.user
**/*.suo
**/Thumbs.db
**/.DS_Store
**/docker-compose*.yml
**/Dockerfile
**/.dockerignore
**/README.md
**/TODO.md
scripts/
.github/
nginx/
