services:
  postgres:
    image: postgres:17-alpine
    container_name: cloudfile-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: cloudfile
    ports:
      - '5432:5432'
    volumes:
      - cloudfile-postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres -d cloudfile']
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  cloudfile-postgres-data:
